In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"G:\repos\Road_Safety\Road_safety_india\Downloads\bangalore-cas-alerts.csv")

In [4]:
df.shape

(207617, 7)

In [5]:
df.drop_duplicates(inplace=True)
df.shape

(152276, 7)

In [7]:
df.columns = ['Device_code','Latitude', 'Longitude', 'Ward_name', 'Alarm_type', 'Speed', 'Time&Date'  ]
df.columns

Index(['Device_code', 'Latitude', 'Longitude', 'Ward_name', 'Alarm_type',
       'Speed', 'Time&Date'],
      dtype='object')

In [8]:
df.replace({'PCW':'Pedestrian/Cycle',
            'FCW':'High Speed Collision',
            'HMW':'High Speed Collision',
            'UFCW':'Low Speed Collision',
            'LDWL':'Lane Departure',
            'LDWR':'Lane Departure',},inplace = True)

In [10]:
#df['Alarm_type'].head(10)
df.Alarm_type.unique()

array(['Pedestrian/Cycle', 'High Speed Collision', 'Overspeed',
       'Low Speed Collision', 'Lane Departure'], dtype=object)

In [11]:
df = df[['Device_code', 'Alarm_type', 'Speed', 'Ward_name','Latitude','Longitude','Time&Date']]
df.head(10)

,Device_code,Alarm_type,Speed,Ward_name,Latitude,Longitude,Time&Date
0,864504031502210,Pedestrian/Cycle,32,Kadugodi,12.984595,77.744087,2018-02-01T01:48:59.000Z
2,864504031502210,High Speed Collision,41,Garudachar Playa,12.987233,77.741119,2018-02-01T01:50:00.000Z
4,864504031502210,Overspeed,37,Hudi,12.987503,77.740051,2018-02-01T01:50:11.000Z
6,864504031502210,High Speed Collision,32,Kadugodi,12.987523,77.736702,2018-02-01T01:50:50.000Z
8,864504031502210,Overspeed,27,Hudi,12.988210,77.731369,2018-02-01T01:52:26.000Z
10,864504031502210,Overspeed,29,Hudi,12.988226,77.731293,2018-02-01T01:52:27.000Z
12,864504031502210,Overspeed,14,Hudi,12.991210,77.727478,2018-02-01T01:55:56.000Z
14,864504031502210,Overspeed,12,Hudi,12.991193,77.727829,2018-02-01T01:56:11.000Z
16,864504031502210,Overspeed,11,Hudi,12.991230,77.728020,2018-02-01T01:56:18.000Z
18,864504031502210,Overspeed,12,Hudi,12.991470,77.728416,2018-02-01T01:56:51.000Z

In [12]:
df.to_csv("Bangalore accident zones - Intel Mobileye.csv")