In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"G:\repos\Road_Safety\Road_safety_india\Downloads\InjuriesFatalitiesChennai2016to2018.csv")

In [3]:
df = pd.melt(df, id_vars=['City Name'] )

In [4]:
df[['Year','Variable']] = df.variable.str.split("-",n=1,expand=True)

In [5]:
df.drop(['variable'], axis=1)

   City Name   value   Year                                           Variable
0    Chennai     NaN  2018                         Total Injuries - Pedestrian
1    Chennai     NaN  2018                           Total Injuries - Bicycles
2    Chennai  2553.0  2018                       Total Injuries - Two-wheelers
3    Chennai  2994.0  2018    Total Injuries - Other modes of road transpor...
4    Chennai  5547.0  2018                                      Total Injuries
5    Chennai     NaN  2018                       Total Fatalities - Pedestrian
6    Chennai     NaN  2018                         Total Fatalities - Bicycles
7    Chennai   503.0  2018                     Total Fatalities - Two-wheelers
8    Chennai   552.0  2018    Total Fatalities - Other modes of road transp...
9    Chennai  1055.0  2018                                    Total Fatalities
10   Chennai     NaN  2017                         Total Injuries - Pedestrian
11   Chennai     NaN  2017                           Total Injuries - Bicycles
12   Chennai  2334.0  2017                       Total Injuries - Two-wheelers
13   Chennai  3001.0  2017    Total Injuries - Other modes of road transpor...
14   Chennai  5335.0  2017                                      Total Injuries
15   Chennai     NaN  2017                       Total Fatalities - Pedestrian
16   Chennai     NaN  2017                         Total Fatalities - Bicycles
17   Chennai   452.0  2017                     Total Fatalities - Two-wheelers
18   Chennai   638.0  2017    Total Fatalities - Other modes of road transp...
19   Chennai  1090.0  2017                                    Total Fatalities
20   Chennai     NaN  2016                         Total Injuries - Pedestrian
21   Chennai     NaN  2016                           Total Injuries - Bicycles
22   Chennai  3774.0  2016                       Total Injuries - Two-wheelers
23   Chennai  3224.0  2016    Total Injuries - Other modes of road transpor...
24   Chennai  6998.0  2016                                      Total Injuries
25   Chennai     NaN  2016                       Total Fatalities - Pedestrian
26   Chennai     NaN  2016                         Total Fatalities - Bicycles
27   Chennai   454.0  2016                     Total Fatalities - Two-wheelers
28   Chennai   613.0  2016    Total Fatalities - Other modes of road transp...
29   Chennai  1067.0  2016                                    Total Fatalities

In [6]:
df[['Accident_type','variable']] = df.Variable.str.split("-",n=1,expand=True)

In [7]:
df.drop(['Variable'], axis=1, inplace=True)

In [8]:
#df['variable'].replace({'None':'Total'})

In [9]:
def atp(val):
    if "Injuries" in val:
        return "Injuries"
    else:
        return "Fatalities"

In [10]:
df['Accident_type'] = df['Accident_type'].apply(lambda x: atp(x))

In [11]:
dfa = df[df['Accident_type']=="Injuries"]
dfb = df[df['Accident_type']!="Injuries"]

In [12]:
dfi = dfa.pivot(index = 'Year', columns='variable', values = 'value').reset_index()
dff = dfb.pivot(index = 'Year', columns='variable', values = 'value').reset_index()

In [13]:
dfi['Accident_type']='Injuries'
dff['Accident_type']='Fatalities'

In [14]:
City = df['City Name'].iloc[0]

In [15]:
df_final = pd.merge(dfi,dff,how = 'outer')

In [20]:
df_final.to_csv('rschennai.csv')